@font-face {
  font-family: 'Orbitron';
  src: url(/fonts/Orbitron/Orbitron-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Orbitron';
}

html,
body {
  position: relative;
  overflow-y: hidden;
}

.rocket {
  position: absolute;
  bottom: -10px;
}

header {
  height: 100vh;
  position: relative;
  background-color: #111;
  color: #ddd;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

header > h1 {
  text-align: center;
  font-size: 2rem;
  margin: auto;
  top: 35%;
  z-index: 2;
}

header > p,
header > img {
  display: none;
}

.star {
  position: absolute;
  pointer-events: none;
  z-index: 1;
}

header > button,
header > p,
header > img {
  animation: bobbing 4000ms infinite both;
  padding: 5px 10px;
  border: solid;
  position: absolute;
  z-index: 2;
}

header > button {
  background-color: gray;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 250ms;
  bottom: 50px;
}

header > img {
  width: 60px;
  bottom: 0px;
  border: none;
}

header > p {
  font-size: 1.2rem;
  bottom: 60px;
  border: none;
}

header > button:hover {
  background-color: white;
  color: black;
}

#section-one {
  height: 100vh;
  width: 100vw;
  background-color: lightgray;
}

#outer {
  overflow-x: hidden;
  position: relative;
}

#inner {
  width: 800vw;
  display: flex;
}

#inner > section {
  width: 100vw;
  height: 100vh;
  margin-top: auto;
}

#inner > section > p {
  text-align: center;
  font-size: 3.5rem;
}

footer {
  background-color: #111;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

footer > p {
  margin: 0 auto;
  width: min(95%, 600px);
  color: #ddd;
  font-size: 1.5rem;
  text-align: center;
}

#inner > section {
  display: flex;
  flex-direction: column;
}

.planet-image {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 1.4;
  justify-content: center;
  margin-top: 20px;
}

.planet-image > a {
  width: max(30%, 150px);
}

.planet-image > a > img {
  width: 100%;
  transition: all 200ms;
}

.planet-image > a > img:hover {
  transform: scale(1.05);
  opacity: 0.5;
}

.planet-image > h2 {
  font-size: 2.5rem;
}

.five > div > h2 {
  margin-left: 10px;
}

.six > div > img {
  width: 50%;
}

.planet-info {
  width: 90%;
  margin: 0 auto;
  line-height: 25px;
}

.check {
  background-color: black;
}

@keyframes bobbing {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-10px);
  }
}

@keyframes sparkle {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 1;
    transform: scale(1.5);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes flyRockets {
  0% {
    /* opacity: 0; */
    transform: translateY(10vh);
  }
  50% {
    /* opacity: 1; */
  }

  100% {
    /* opacity: 0; */
    transform: translateY(-110vh);
  }
}

@media (min-width: 600px) {
  header > h1 {
    font-size: 3rem;
  }

  .planet-image {
    flex-direction: column;
  }

  .planet-image > a {
    width: min(100%, 500px);
  }

  #inner > section {
    flex-direction: row;
  }

  .six > div > img {
    width: 100%;
  }

  .planet-info {
    display: flex;
    padding: 0 50px;
    line-height: 30px;
    width: 100%;
  }

  .planet-info > ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media (min-width: 1000px) {
  .planet-info {
    padding: 50px 50px;
  }
}
